<extend name="Public/common" />
<block name="main">
<div class="page-title">{:(isset($detail['id'])?'编辑版本':'新增版本')}</div>
<div class="layui-field-box" style="width: 700px">
    <form class="layui-form" action="" method="post">
        <if condition="isset($detail['id'])">
            <input type="hidden" name="id" value="{$detail['id']}">
        </if>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> APP版本号</label>
            <div class="layui-input-inline">
                <input type="text" name="version" required value="{$detail['version']|default=''}" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">版本号只能包含数字和.号</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> VERSION CODE</label>
            <div class="layui-input-inline">
                <input type="text" name="version_code" required value="{$detail['version_code']|default='1'}" lay-verify="number" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">只能为数字</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> APP下载地址</label>
            <div class="layui-input-block">
                <input type="text" name="url" required value="{$detail['url']|default=''}" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 平台类型</label>
            <div class="layui-input-block platform">
                <if condition="isset($detail) && $detail['platform'] eq 1">
                    <input type="radio" name="platform" checked value="1" title="用户端">
                    <input type="radio" name="platform" value="2" title="商户端">
                    <else />
                    <input type="radio" name="platform" value="1" title="用户端">
                    <input type="radio" name="platform" checked value="2" title="商户端">
                </if>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 终端类型</label>
            <div class="layui-input-block client">
                <if condition="isset($detail) && $detail['client'] eq 'ios'">
                    <input type="radio" name="client" value="android" title="Android">
                    <input type="radio" name="client" checked value="ios" title="IOS">
                    <else />
                    <input type="radio" name="client" checked value="android" title="Android">
                    <input type="radio" name="client" value="ios" title="IOS">
                </if>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 是否强制更新</label>
            <div class="layui-input-block is_force">
                <if condition="isset($detail) && $detail['is_force'] eq 0">
                    <input type="radio" name="is_force" checked value="0" title="否">
                    <input type="radio" name="is_force" value="1" title="是">
                    <else />
                    <input type="radio" name="is_force" value="0" title="否">
                    <input type="radio" name="is_force" checked value="1" title="是">
                </if>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span style="color:red">*</span> 版本更新内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor">{$detail['content']|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 版本更新时间</label>
            <div class="layui-input-inline">
                <input type="text" name="updated_time" id="updated_time" lay-verify="required" placeholder="请选择时间" value="{$detail['updated_time']|default=$time}" autocomplete="on" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                <a  href="{:U('index')}" class="layui-btn layui-btn-danger">返回版本列表</a>
            </div>
        </div>
    </form>
</div>
</block>
<block name="myScript">
<script type="text/javascript">
$(function () {
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit
            laydate = layui.laydate;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //时间选择器
        laydate.render({
            elem: '#updated_time'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
        });
    });
})
</script>

</block>