<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="/Public/activity/20180115/js/lib/flexible.debug.js"></script>
    <link rel="stylesheet" href="/Public/activity/20180115/dest/campaign_reg.css">
    <title>空瓶子注册送酒</title>
</head>
<body>
<div class="top">
    <img src="/Public/activity/20180115/img/logo.png" alt="">
    <p class="top_1">注册绑定手机号</p>
    <p>免费获得{$activity_goods}</p>
</div>
<div class="content">
    <p>1月24日起，注册并绑定手机号的用户，可免费获得空瓶子&Vcoco提供的{$activity_goods}。</p>
</div>


<div class="password_wrap">
    <div class="queren_wrap">
        <button class="queren_btn">{$message}</button>
    </div>
</div>