<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>账号已注册</title>
    <link rel="stylesheet" href="/Public/css/weui.min.css"/>
</head>
<body>
<div class="page msg_success js_show">
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-success weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">您已经注册过啦</h2>
            <p class="weui-msg__desc">请在微信中搜索小程序<br />【空瓶子酒吧预定】<br />进入小程序体验服务,感谢您的支持!</p>
            <p class="weui-msg__desc" style="display: none">页面将在 <span id="wait">5</span> 秒后自动关闭.</p>
        </div>
        <div class="">
            <a href="javascript:;" id="close" onclick="WeixinJSBridge.call('closeWindow');" class="weui-btn weui-btn_mini weui-btn_warn">关闭页面</a>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links"><a class="weui-footer__link">空瓶子酒吧预定</a></p>
                <p class="weui-footer__text">Copyright © 2017 KONGPINGZI</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//    (function(){
//        var wait = document.getElementById('wait');
//        var interval = setInterval(function(){
//            var time = --wait.innerHTML;
//            if(time <= 0) {
//                WeixinJSBridge.call('closeWindow');
//                clearInterval(interval);
//            };
//        }, 1000);
//    })();
</script>
</body>
</html>
