<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>注册成功</title>
    <link rel="stylesheet" href="/Public/css/weui.min.css"/>
</head>
<body>
<div class="page msg_success js_show">
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-success weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title" style="color: #09bb07">恭喜您成功注册空瓶子!</h2>
            <p class="weui-msg__desc">
                <span style="color: #f60">优惠券已发送至您的账户</span><br/>
                请在微信中搜索小程序<br/>
                【空瓶子酒吧预定】<br/>
                进入小程序体验服务,感谢您的支持!
            </p>
        </div>
        <div>
            <a href="javascript:;" id="close" onclick="WeixinJSBridge.call('closeWindow');"
               class="weui-btn weui-btn_mini weui-btn_warn">关闭本页</a>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links"><a class="weui-footer__link">空瓶子酒吧预定</a></p>
                <p class="weui-footer__text">Copyright © 2017 KONGPINGZI</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
