<extend name="Public/common"/>
<block name="main">
    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">所属商户名称</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.merchant_title}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">商品名称</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.title}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">商品类别</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">
                <if condition="$detail.type eq 1">
                    优惠套餐
                    <elseif condition="$detail.type eq 2"/>
                    卡座套餐
                    <elseif condition="$detail.type eq 3"/>
                    单品酒水
                </if>
            </div>
        </div>
    </div>

    <div class="layui-row layui-form-item">
        <div class="layui-col-xs3">
            <div class="layui-form-label">查看图片</div>
        </div>
        <div class="layui-input-inline">
            <if condition="isset($detail['image'])">
                <img src="{$attachment_url}{$detail.image}" width="150" height="100">
            </if>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">参考售价</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.price}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">商品状态</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">
                <if condition="$detail.status eq 1">
                    销售中
                    <else/>
                    已下架
                </if>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">市场价格</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.market_price}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">进货价格</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.purchase_price}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">添加时间</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.created_time|date="Y-m-d h:i:s",###}</div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo-bg1">商品描述</div>
        </div>
        <div class="layui-col-xs9">
            <div class="grid-demo">{$detail.description}</div>
        </div>
    </div>


</block>
<block name="myScript">
</block>