<extend name="Public/common" />
<block name="main">
            <form class="layui-form" action="" method="post">
                <if condition="isset($detail['id'])">
                    <input type="hidden" name="id" value="{$detail['id']}">
                </if>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 权限名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required value="{:(isset($detail['name'])?$detail['name']:'')}" lay-verify="required" placeholder="请输入权限组名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 父级权限</label>
                    <div class="layui-input-inline adtype">
                        <select name="parent_id"  lay-verify="required">
                            <option value="0">顶级权限</option>
                            <!--<volist name="permission" id="row">
                                <if condition="$detail['parent_id'] eq $row['id']">
                                    <option value="{$row['id']}" selected><?php echo str_repeat('—', $row['deep'] * 2); ?>{$row['name']}</option>
                                    <else />
                                    <option value="{$row['id']}">—<?php echo str_repeat('—', $row['deep'] * 2); ?>{$row['name']}</option>
                                </if>
                            </volist>-->

                            <volist name="permission" id="row">
                                <if condition="$detail['parent_id'] eq $row['id']">
                                    <option value="{$row['id']}" selected>{$row['name']}</option>
                                    <else />
                                    <option value="{$row['id']}">{$row['name']}</option>
                                </if>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                    </div>
                </div>
            </form>
</block>
<block name="myScript">
    <script>
        $(function () {
            layui.use(['form'], function(){
                var form = layui.form
                    ,layer = layui.layer
            });
        })

    </script>
</block>