<extend name="Public/common" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>{:(isset($detail['id'])?'编辑会员特权':'新增会员特权')}</legend>
        <div class="layui-field-box" style="width: 700px">
            <form class="layui-form" action="" method="post">
                <if condition="isset($detail['id'])">
                    <input type="hidden" name="id" value="{$detail['level']}">
                </if>

                <div class="layui-form-item">
                    <label class="layui-form-label">会员等级</label>
                    <div class="layui-input-inline">
                        <input type="text" name="level" required value="{$detail['level']}" lay-verify="required|number" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">会员等级唯一</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">会员等级名称</label>
                    <div class="layui-input-inline">
                            <input type="text" name="title" required value="{$detail['title']}" lay-verify="required" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">卡套延期天数</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">逾期次数</label>
                    <div class="layui-input-inline">
                            <input type="text" name="overdue" required value="{$detail['overdue']}" lay-verify="required|number" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">填写卡座可逾期次数</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">卡套延期天数</label>
                    <div class="layui-input-inline">
                            <input type="text" name="delayed" required value="{:$detail['delayed'] ? $detail['delayed'] : 30}" lay-verify="required|number" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">填写卡套延期天数</div>
                    </div>
                </div>

                <div class="layui-form-item" id="birthday">
                    <label class="layui-form-label">生日特权</label>
                    <div class="layui-input-block birthday">
                        <input type="radio" name="birthday" value="1" title="有">
                        <input type="radio" name="birthday" value="0" title="无">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text" id="birthday_content_box">
                    <label class="layui-form-label">生日特权内容</label>
                    <div class="layui-input-block">
                        <textarea placeholder="生日特权内容若无生日特权则不填写" name="birthday_content" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">赠送K币</label>
                    <div class="layui-input-inline">
                            <input type="text" name="coin" required value="{:$detail['coin']}" lay-verify="required|number" class="layui-input" >
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">赠送K币(积分)数量</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">免预定金</label>
                    <div class="layui-input-block free_seat">
                        <input type="radio" name="free_seat" value="1" title="是">
                        <input type="radio" name="free_seat" value="0" title="否">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">累计消费额度</label>
                    <div class="layui-input-inline">
                        <if condition="isset($detail['quota'])">
                            <div class="layui-input" >{:$detail['quota']}</div>
                            <else />
                            <input type="text" name="quota" required value="0" lay-verify="required|number" class="layui-input" >
                        </if>
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">达到该等级的消费总额</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                        <a  href="{:U('index')}" class="layui-btn layui-btn-danger">返回列表</a>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
<script type="text/javascript">
$(function () {
    //设置生日特权值
    $('.birthday input').val([{$detail['birthday']|default=0}]);
    //设置免预定金值
    $('.free_seat input').val([{$detail['free_seat']|default=0}]);

    layui.use(['form','upload', 'laydate'], function(){
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            laydate = layui.laydate;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upimg'
            ,url: "{:U('Upload/index', ['mold' => 'ad'])}"
            ,done: function(res){
                if (res.code != 0){
                    return layer.msg(res.msg);
                }
                //显示上传成功的图片
                $('#ad_img').val(res.data.src);
                $('.upload_img').prop('src','//attachment.sc-csj.cn/'+res.data.src);

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#reupload');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });



        //显示隐藏生日文本框
        //var value = $('#birthday .layui-form-radio').prev('input').val();
        var value = $('#birthday input:checked').val();
        if (value == 1){
            $('#birthday_content_box').show();
        }else {
            $('#birthday_content_box').hide();
        }


        $('#birthday .layui-form-radio').click(function () {
            var value = $(this).prev('input').val();
            if (value == 1){
                $('#birthday_content_box').show();
            }else {
                $('#birthday_content_box').hide();
            }
        });

        //时间选择器
        laydate.render({
            elem: '#start_time'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
        });

        laydate.render({
            elem: '#end_time'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
        });
    });
})
</script>
    <script>
        $(function () {

        })
    </script>
</block>