<extend name="Public/common" />
<block name="main">
<div class="layui-elem-quote">{:(isset($detail['id'])?'修改职位':'添加职位')}</div>
<div class="layui-field-box" style="width: 700px">
    <form class="layui-form" action="" method="post">
        <if condition="isset($detail['id'])">
            <input type="hidden" name="id" value="{$detail['id']}">
        </if>
        <input type="hidden" name="merchant_id" value="{$detail['merchant_id']|default=$merchant_id}">

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 职位名称</label>
            <div class="layui-input-inline">
                <input type="text" name="job_name" required value="{$detail['job_name']|default=''}" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">填写职位名称,不宜过长</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 权限列表</label>
            <div class="layui-input-block permission-box">
                <volist name="permissions" id="vo" key="k">
                    <if condition="$vo.parent_id eq 0 && $k gt 1"><br /><br /></if>
                    <label  for="a{$vo['id']}" style="padding: 10px 5px;">
                    <input type="checkbox" name="permissions[]"  value="{$vo['id']}" class="perm_<if condition='$vo.parent_id eq 0'>top<else />{$vo['parent_id']}</if>" id="a{$vo['id']}" style="display: inline-block" title="{$vo['name']}" <if condition="isset($jobs_perm) && in_array($vo['id'],$jobs_perm)">checked="checked"</if> />
                        {$vo['name']}
                    </label>
                </volist>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                <a  href="{:U('EmployeeJob/index',['merchant_id' => $merchant_id])}" class="layui-btn layui-btn-danger">返回职位列表</a>
            </div>
        </div>
    </form>
</div>
</block>
<block name="myScript">
<script type="text/javascript">
$(function () {
    $('.permission-box .perm_top').on('click',function () {
        var perid = $(this).val();
        console.log(perid);
        var ckeckStatus = $(this).prop('checked');
        console.log(ckeckStatus);
        $('.permission-box .perm_'+ perid).prop('checked',ckeckStatus);
    })
})
</script>

</block>