<extend name="Public/common"/>
<block name="main">

<div class="layui-field-box">
    <a class="layui-btn layui-btn-normal api-add" href="{:U('EmployeeJob/add', ['merchant_id' => $merchant_id])}" style="float: right"><i class="layui-icon">&#xe608;</i> 添加职位</a>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>职位ID</th>
                    <th>职位名称</th>
                    <th>商户名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo['id']}</td>
                        <td>{$vo['job_name']}</td>
                        <td>{$vo['merchant_title']}</td>
                        <td>
                            <a href="{:U('edit', array('id' => $vo['id'], 'merchant_id' => $merchant_id))}"><span class="layui-btn layui-btn-small edit layui-btn-primary">修改职位</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>

</block>
<block name="myScript">
<script type="text/javascript">

</script>
</block>