<extend name="Public/common"/>
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>员工推广结算</legend>

        <div class="layui-field-box">
            <!--<a href="javascript:;" data-url="{:U('Message/add')}" class="click-show-member"><span class="layui-btn layui-btn-normal api-add"> <i-->
                    <!--class="layui-icon">&#xe608;</i> 新增</span></a>-->
            <table class="layui-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>员工姓名</th>
                    <th>提现金额</th>
                    <th>提现状态</th>
                    <th>支付宝账号</th>
                    <th>申请时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$i}</td>
                        <td>{$vo['realname']}</td>
                        <td>{$vo['total_money']}</td>
                        <td>
                            <?php
                            if($vo['status'] ==1 ){
                               echo '审核中';
                            }else if($vo['status'] ==2 ){
                               echo '提现中';
                            }else{
                               echo '提现完成';
                            }
                         ?>
                        </td>
                        <td>{$vo.account }</td>
                        <td>{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                        <td align="center">
                            <if condition="$vo['status'] eq 1">
                                <a href="{:U('SpreadExpressive/validate', array('id' => $vo['id']))};"><span class="layui-btn layui-btn-small edit layui-btn-primary">提现</span></a><elseif condition="$vo['status'] eq 2"/><a href="{:U('SpreadExpressive/finishExpressive', array('id' => $vo['id']))}" ><span class="layui-btn layui-btn-small edit layui-btn-primary">完成</span></a><else/>已完成</if>
                            <!--<a href="javascript:;" data-url="{:U('del', array('id' => $vo['id']))}" class="click-show-member"><span class="layui-btn layui-btn-small edit layui-btn-primary">删除</span></a>-->
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td align="right" nowrap="true" colspan="11">
                        <div class="pagination">
                            {$pageHtml}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script type="text/javascript">
        layui.use(['layer'], function() {
            var layer = layui.layer //弹层
            $('.click-show-member').click(function () {
                var url = $(this).attr('data-url');
                //显示数据弹窗
//                layer.open({
//                    type: 2,
//                    title: "查看用户信息",
//                    area: ['800px', '600px'],
//                    skin: 'layui-layer-rim', //加上边框
//                    content: url
//                });
            });

        });
    </script>
</block>