<extend name="Public/common" />
<block name="main">
    <div class="page-title">{:(isset($detail['id'])?'编辑':'新增')}</div>
    <div class="layui-field-box" style="width: 700px">
        <form class="layui-form" action="" method="post">
            <if condition="isset($detail['id'])">
                <input type="hidden" name="id" value="{$detail['id']}">
            </if>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color:red">*</span> 关键字</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" required value="{$detail['keyword']|default=''}" lay-verify="required" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <div class="layui-form-mid layui-word-aux">只能填写一个词</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color:red">*</span> 消息类型</label>
                <div class="layui-input-inline msg_type">
                    <select name="msg_type">
                        <option value="text">文字消息</option>
                        <option value="news">图文消息</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" value="{$detail['title']|default=''}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL链接</label>
                <div class="layui-input-block">
                    <input type="text" name="url" value="{$detail['url']|default=''}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-block">
                    <input type="text" name="image" value="{$detail['image']|default=''}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color:red">*</span> 状态</label>
                <div class="layui-input-block platform">
                    <if condition="isset($detail) && $detail['status'] neq 1">
                        <input type="radio" name="status" value="1" title="启用">
                        <input type="radio" name="status" checked value="0" title="禁用">
                        <else />
                        <input type="radio" name="status" checked value="1" title="启用">
                        <input type="radio" name="status" value="0" title="禁用">
                    </if>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><span style="color:red">*</span> 内容/描述</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="content" lay-verify="content">{$detail['content']|default=''}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                    <a  href="{:U('keywordreply')}" class="layui-btn layui-btn-danger">返回列表</a>
                </div>
            </div>
        </form>
    </div>
</block>
<block name="myScript">
    <script type="text/javascript">
        $(function () {
            layui.use(['form', 'layedit', 'laydate'], function(){
                var form = layui.form,
                    layer = layui.layer;
            });

            $('.msg_type option[value="{$detail['msg_type']}"]').attr("selected",true);
        })
    </script>

</block>