<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<style>
*{margin: 0;padding: 0;font-size: 18px;}
body{padding: 12px;background: #292627}
.common_wrap {
    width: 100%;
    font-size: 18px;
    margin-bottom:  20px;
}
.common_wrap h1{ font-weight: bold; margin-bottom: 10px; color: #fff}
.common_wrap p{ color: #8e8e8e}
</style>
<title>邀请规则</title>
</head>
<body>
<div class="common_wrap">
    <h1>邀请说明</h1>
    <p >您可以将推广链接发给您的朋友，让TA通过该链接注册，在TA通过链接完成注册时，该用户就是您所邀请获得的用户。</p>
</div>
<div class="common_wrap">
    <h1>奖励说明</h1>
    <p>当您推广注册的用户首次在空瓶子平台完成消费后，空瓶子将给予您10元代金券奖励。</p>
</div>
<div class="common_wrap">
    <h1>提现规则</h1>
    <p>当您获得代金券后，累计1000元后，可以直接申请提现，申请提现后，根据发给您的地址到空瓶子平台公司直接领取现金。</p>
</div>
</body>
</html>