<extend name="Public/common"/>
<block name="main">

    <div class="layui-field-box">

        <table class="layui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>酒吧名称</th>
                <th>所在城市</th>
                <th>联系人电话</th>
                <th>联系人姓名</th>
                <th>审核状态</th>
                <th>申请时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo['id']}</td>
                    <td>{$vo['name']}</td>
                    <td>{$vo['city']}</td>
                    <td>{$vo['phone']}</td>
                    <td>{$vo['contacter']}</td>
                    <td>
                        <if condition="$vo['is_ok'] eq 1">
                            未审核
                            <else />
                            已审核
                        </if>
                    </td>
                    <td>{$vo['created_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <a href="{:U('change', array('id' => $vo['id']))}"><span class="layui-btn layui-btn-small edit layui-btn-primary">
                        <if condition="$vo['is_ok'] eq 1">
                            审核
                            <else />
                            取消审核
                        </if>
                        </a>

                        <a href="{:U('del', array('id' => $vo['id']))}"><span class="layui-btn layui-btn-small edit layui-btn-danger">删除</span></a>
                    </td>
                </tr>
            </volist>
            <tr>
                <td align="right" nowrap="true" colspan="23">
                    <div class="pagination">
                        {$pageHtml}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</block>
<block name="myScript">
    <script type="text/javascript">
        layui.use(['layer','form'], function() {
            var layer = layui.layer //弹层
                ,form = layui.form;
            $('.click-show').click(function () {
                var url = $(this).attr('data-url');
                console.log(url);
                //显示数据弹窗
                layer.open({
                    type: 2,
                    title: "员工详情",
                    area: ['700px', '500px'],
                    skin: 'layui-layer-rim', //加上边框
                    content: url
                });
            });
        });
    </script>
</block>