<extend name="Public/common" />
<block name="main">
<div class="layui-elem-quote">{:(isset($detail['id'])?'编辑员工':'新增员工')}</div>
<div class="layui-field-box" style="width: 700px">
    <form class="layui-form" action="" method="post">
        <if condition="isset($detail['id'])">
            <input type="hidden" name="id" value="{$detail['id']}">
        </if>
        <input type="hidden" name="merchant_id" value="{$detail['merchant_id']|default=$merchant_id}">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 账号类型</label>
            <div class="layui-input-inline adtype">
                <select name="type" id="employee_type" lay-verify="">
                    <option value="2">普通</option>
                    <option value="1">管理员</option>
                    <option value="4">客户经理</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">选择账号类型</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="realname" required value="{$detail['realname']|default=''}" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">填写超级管理员姓名</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 性别</label>
            <div class="layui-input-inline input-sex">
                <input type="radio" name="sex" value="1" title="男">
                <input type="radio" name="sex" value="2" title="女">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">请选择性别(可随意)</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 电话号码</label>
            <div class="layui-input-inline">
                <input type="text" name="tel" required value="{$detail['tel']|default=''}" lay-verify="tel" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">手机号码11位</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 工号</label>
            <div class="layui-input-inline">
                <input type="text" name="job_number" required value="{$detail['job_number']|default=''}" lay-verify="job_name" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">工号不能太长</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 职位</label>
            <div class="layui-input-inline">
                <select name="job_id" id="employee_job" lay-verify="">
                    <volist name="jobs" id="job">
                    <option value="{$job['id']}">{$job['job_name']}</option>
                    </volist>
                </select>
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">选择职位</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 微信号</label>
            <div class="layui-input-inline">
                <input type="text" name="wechat_id" required value="{$detail['wechat_id']|default=''}" lay-verify="required" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">填写个人微信号</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red">*</span> 账号状态</label>
            <div class="layui-input-block input-status">
                <input type="radio" name="status" value="0" title="禁用">
                <input type="radio" name="status" value="1" title="正常">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                <a  href="{:U('Employee/index',['merchant_id' => $merchant_id])}" class="layui-btn layui-btn-danger">返回员工列表</a>
            </div>
        </div>
    </form>
</div>
</block>
<block name="myScript">
<script type="text/javascript">
$(function () {
    $('.input-sex input').val([{$detail['sex']|default=1}]);
    $('.input-status input').val([{$detail['status']|default=1}]);
//    $('#employee_type option').val([{$detail['type']|default=1}]);
    <if condition="isset($detail['type'])">
        selected_elem('#employee_type option', {$detail['type']});
        selected_elem('#employee_job option', {$detail['job_id']});
    </if>

    layui.use(['form','laydate'], function(){
        var form = layui.form,
            layer = layui.layer,
        laydate = layui.laydate;

        //表单验证
        form.verify({
            tel: [/^1[3578]\d{9}$/, '电话号码不正确'],
            job_name: [/^[\S]{2,12}$/, '工号不合法']
        });
    });
})
//下拉菜单选中
function selected_elem(object, value) {
    $(object).each(function (i,v) {
        if ($(v).val() == value){
            $(v).prop('selected',true);
        }
    })
}
</script>

</block>