<extend name="Public/common"/>
<block name="main">
    <hr />
    <h4 class="h2">员工信息</h4>
    <hr />

    <div class="layui-row">
        <div class="layui-col-xs3">商户名称</div>
        <div class="layui-col-xs9">{$detail.merchant_name}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工ID</div>
        <div class="layui-col-xs9">{$detail.id}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工姓名</div>
        <div class="layui-col-xs9">{$detail.realname}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工电话</div>
        <div class="layui-col-xs9">{$detail.tel}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">账号状态</div>
        <div class="layui-col-xs9">{$status[$detail['status']]}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工性别</div>
        <div class="layui-col-xs9">{$sex[$detail['sex']]}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工头像</div>
        <div class="layui-col-xs9"><img height="50" src="{$attachment_url}{$detail.avatar}" /> </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">工号</div>
        <div class="layui-col-xs9">{$detail.job_number}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">员工相册</div>
        <div class="layui-col-xs9">
            <volist name="detail['image']" id="img">
                <img height="50" src="{$attachment_url}{$img}" />
            </volist>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">账号类型</div>
        <div class="layui-col-xs9">{$type[$detail['type']]}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">推广码</div>
        <div class="layui-col-xs9">{$detail['invite_code']}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">个性签名</div>
        <div class="layui-col-xs9">{$detail['description']}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">支付宝</div>
        <div class="layui-col-xs9">{$detail['alipay_account']}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">微信号</div>
        <div class="layui-col-xs9">{$detail['wechat_id']}</div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">创建时间</div>
        <div class="layui-col-xs9">{$detail['created_time']}</div>
    </div>

</block>
<block name="myScript">
</block>